@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Press+Start+2P&display=swap');

body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #c4ff00;
    font-size: 61px;
    margin-bottom: 23px;
}

.puhnasty-img {
    width: 200px;
    height: 300px;
    margin-right: 20px;
}

.speech-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
    
.speech-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border: 3px solid white;
    padding: 20px;
    text-align: left;
    background-color: #000;
    line-height: 1.8;
}

.info-box {
    border: 1px solid rgb(67, 77, 56);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    text-align: left;
    font-family: Arial;
}

h2 {
    margin-top: 40px;
    margin-bottom: 15px;
}

.nature-img {
   width: 383.5px;
   height: 198.5px;
}

.short {
  font-size: 11px;
}
